/* 
 * VARIABLES
 */
/* 
 * BASICS
 */
 html,
 body {
   height: 100%;
   margin: 0;
 }
 
 html {
   font-family: 'M PLUS Rounded 1c', sans-serif;
 }

 body {
   align-items: center;
   background-color: #FFFFFF;
   display: flex;
   justify-content: center;
   text-align: center;
   height: 100vh;
   margin: 0;
 }
 
 /*
  * MAIN CONTENT
  */
 .avatar {
   border: 5px solid #FFFFFF;
   box-sizing: border-box;
   height: 200px;
   border-radius: 50%;
   position: relative;
   width: 200px;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .avatar__image {
   width: 100%;
   border-radius: 50%;
 }

 .circle {
   border: 5px solid transparent;
   border-radius: 50%;
   border-top: 5px solid #00BCD4;
   position: absolute;
   height: calc(100% + 10px);
   width: calc(100% + 10px);
   left: 50%;
 }

 .circle-top {
   top: -10px;
   transform: translateX(-50%);
 }

 .circle-bottom {
   bottom: -10px;
   transform: translateX(-50%) rotate(180deg);
 }

 .special-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* Add custom styles for hyperlinks */
a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent */
    font-weight: bold; /* Bold all links in the linktree */
    font-size: 1.2em; /* Slightly larger font size for links */
}

a:visited {
    color: inherit; /* Remove visited style */
}

a:hover {
    color: #007BFF; /* Add a different color for hover */
}
